

<div class="container">
    <app-search-form (searchOutput)="findUserName($event)"></app-search-form>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4">
    
    
                <div *ngFor='let users of user'>
                    <div class="card">
                        <img class="card-img-top" src="{{users.avatar_url}}" alt="Card image cap">
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
    
                <div class="card-body" *ngFor='let users of user'>
            <div class="jumbotron">
                    <p class="card-text">USERNAME: {{users.name}}</p>
                    <p class="card-text"> {{users.login}}</p>
                    <p class="card-text">BIO: {{users.bio}}</p>
                    <p class="card-text">FOLLOWERS : {{users.followers}}</p>
                    <p class="card-text"> FOLLOWING : {{users.following}}</p>
                    <p class="card-text">  JOINED ON: {{users.created_at|date}}</p>
                </div>
            </div>
        </div>
        </div>
    </div>

    <hr>
    <hr>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h3>REPOSITORIES</h3>
    <hr>
                <div class="cashy">
    
                    <div *ngFor="let repository of repo">
                        <div class="card" appHighlight>
    
                            <div class="card-body">
                                <p class="card-text">{{repository.name}}</p>
                                <p class="card-text">{{repository.description}}</p>
                                <p class="card-text">{{repository.language}}</p>
                                <p class="card-text">{{repository.created_at|dateAgo}}</p>
                                <a href="{{repository.html_url}}"> <button class="btn btn-success">VIEW</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
  



